*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;

}

#features .canvas-container { margin: 30px auto; }
.canvas-container{
    top: 14px;
    left: 15px;
    position: absolute !important;
}

#canvas{
	position: absolute;
	background-color: rgb(208, 218, 223, 0) ;
}

#toolbar{
	position: absolute;
	background-color: rgb(208, 218, 223) ;
	top: 734px;
	left: 15px;
	width: 1280px;
	height: 70px;
	margin: 0px;
}

#load-project-btn{
    position: absolute;
    top: 14px;
    left: 20px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
    color: gray;
    font-weight: 600;
}

#adding-line-btn{
	position: absolute;
    top: 14px;
    left: 175px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    font-weight: 600;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    color: white;
    background-color: #4CAF50;
    font-weight: 600;
}

.disabled{
    pointer-events: none;
}

#create-mask-btn{
    position: absolute;
    top: 14px;
    left: 295px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #6495ED;
    color: #6495ED;
    font-weight: 600;
}

.mask_btn {
    transition-duration: 0.4s;
}

.mask_btn:hover {
    color: white;
    background-color: #6495ED;
    font-weight: 600;
}

#removeing-line-btn{
	position: absolute;
    top: 14px;
    left: 418px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #DC143C;
    color: #DC143C;
    font-weight: 600;
}

#save-image-btn{
	position: absolute;
    top: 14px;
    left: 570px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
    color: gray;
    font-weight: 600;
}

.save_btn {
    transition-duration: 0.4s;
}

.save_btn:hover {
    color: white;
    background-color: gray;
    font-weight: 600;
}

#help-btn{
    position: absolute;
    top: 14px;
    left: 790px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
    color: gray;
    font-weight: 600;
}

#body{
	background-color: rgb(218, 221, 222) ;
}

.hidden{
	display: none;
}

.drop_dwn{
    position: relative;
    background-color: rgb(255, 255, 255) ;
    margin: 20px;
    font-weight: 800;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1300px 200px auto auto;
  margin:  5px;
  align-items: center;
}

.sub_grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin:  -12px;
  align-items: center;
  padding-left: 50px;
}

#h4-txt{
    margin: 10px;
    padding-right: 45px;
}

#video{
    position:absolute;
    top: 14px;
    left: 15px;
}